Added AI.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-incident",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -688,
        1520
      ],
      "id": "8c5c1ec4-cdfe-41ab-9cdf-9b8e79c9ea9e",
      "name": "Webhook",
      "webhookId": "d2997ce8-f3fb-46ca-9251-4744b1b4d2a5"
    },
    {
      "parameters": {
        "chatId": "8119891894",
        "text": "=🚨 SIRTS Alert\n\n📋 Issue: {{ $node[\"Webhook\"].json.body.title }}\n📝 Description: {{ $node[\"Webhook\"].json.body.description }}\n🤖 AI Category: {{ $node[\"Classify Ticket\"].json.predicted_category }}\n🎫 Ticket ID: #{{ $node[\"Webhook\"].json.body.ticket_id }}\n💻 Hardware SN: {{ $node[\"Webhook\"].json.body.laptop_serial }}\n🏢 Department: {{ $node[\"Webhook\"].json.body.department }}\n👤 Reported By: {{ $node[\"Webhook\"].json.body.reported_by }}\n🆔 User ID: {{ $node[\"Webhook\"].json.body.reported_by_id }}\n\nPlease acknowledge ",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Acknowledge",
                    "additionalFields": {
                      "callback_data": "=ack_{{ $node[\"Webhook\"].json.body.ticket_id }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        1504
      ],
      "id": "f61e9166-68d1-4b4d-aeeb-ae482fbe3582",
      "name": "Send a text message",
      "webhookId": "671673f8-05dc-41c2-b6e0-85580d0ee48e",
      "credentials": {
        "telegramApi": {
          "id": "eJc1mayLSdWhR7Q8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        704,
        1392
      ],
      "id": "d1c975e5-0cc4-4583-953c-2eeb5f9cfdc6",
      "name": "Telegram Trigger",
      "webhookId": "ca6339e2-06d7-46f7-9029-40c5632ee7c5",
      "credentials": {
        "telegramApi": {
          "id": "eJc1mayLSdWhR7Q8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "ack_",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "7c6a2fcb-30d2-442b-8116-39320c487413"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "updated status"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        912,
        1392
      ],
      "id": "3658f44e-d52b-4b0c-b9fc-e8d5522b9ae3",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot<YOUR_BOT_TOKEN>/answerCallbackQuery",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { callback_query_id: $json.callback_query.id, text: '✅ Processing...', show_alert: false } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1008,
        1392
      ],
      "id": "answer-callback-query-node",
      "name": "Answer Callback Query",
      "onError": "continueRegularOutput",
      "notes": "📞 Answers Telegram callback query. ⚠️ IMPORTANT: Replace <YOUR_BOT_TOKEN> in URL with your actual Telegram bot token from credentials"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/update-ticket/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { ticket_id: Number($node[\"Telegram Trigger\"].json.callback_query.data.replace('ack_', '')) } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1216,
        1392
      ],
      "id": "090b45d9-d90e-461a-8120-840f969b17c5",
      "name": "HTTP Request1",
      "onError": "continueRegularOutput",
      "notes": "📝 Updates ticket acknowledgment in Django. ⚠️ Check n8n execution logs if ticket is not updated. Error: Incident not found or server is down."
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json.callback_query.message.chat.id }}",
        "text": "=✅ Ticket #{{ $node[\"Telegram Trigger\"].json.callback_query.data.replace('ack_', '') }} has been acknowledged successfully.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1424,
        1392
      ],
      "id": "send-confirmation-node",
      "name": "Send Confirmation",
      "webhookId": "confirmation-webhook",
      "credentials": {
        "telegramApi": {
          "id": "eJc1mayLSdWhR7Q8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"Webhook\"].json.body.file_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        1632
      ],
      "id": "66227726-5483-473d-a0a3-24072004e881",
      "name": "Download File",
      "onError": "continueRegularOutput",
      "notes": "📥 Downloads file from Django server. ⚠️ Error: File download failed - check file_url is accessible"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.virustotal.com/api/v3/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $binary.data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        1632
      ],
      "id": "315a75d3-be0f-405d-9c04-b96a13e1e2fb",
      "name": "Upload to VirusTotal",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ct2touOHW3FslsDR",
          "name": "Header Auth account"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "⬆️ Uploads file to VirusTotal. ⚠️ Error: Upload failed - check API key and file size limits"
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        656,
        1632
      ],
      "id": "2540ab5d-2ad0-48e9-afa8-7db3a60382e1",
      "name": "Wait for Scan",
      "notes": "⏳ Waits 30 seconds for VirusTotal to complete the scan"
    },
    {
      "parameters": {
        "url": "=https://www.virustotal.com/api/v3/files/{{ $node[\"Upload to VirusTotal\"].json?.data?.id || $node[\"Webhook\"].json.body.file_hash }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        864,
        1632
      ],
      "id": "296107c5-2f14-4924-8ae1-5d2a999db839",
      "name": "Query VirusTotal",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ct2touOHW3FslsDR",
          "name": "Header Auth account"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "🔍 Queries VirusTotal for scan results. ⚠️ Error: Query failed - file may not be in database yet, will try direct hash query"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "06c9b212-93e3-4141-a2af-2642e8990910",
              "leftValue": "={{ $json.data?.attributes?.last_analysis_stats?.malicious ?? 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1072,
        1632
      ],
      "id": "fffdb03b-89cc-4b30-af26-94645edd98ec",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/quarantine-user/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { user_id: $node[\"Webhook\"].json.body.user_id } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1280,
        1632
      ],
      "id": "e8ed9f62-7067-49f2-a2de-8492fc43fdda",
      "name": "Quarantine User Auto",
      "onError": "continueRegularOutput",
      "notes": "🛡️ Automatically quarantines user when malware is detected. ⚠️ Error: Quarantine failed - check API endpoint and user_id"
    },
    {
      "parameters": {
        "chatId": "8119891894",
        "text": "=🚨 SECURITY ALERT! 🚨 A malicious file was detected in Ticket #{{ $node[\"Webhook\"].json.body.ticket_id }}. VirusTotal Detections: {{ $node[\"Query VirusTotal\"].json.data.attributes.last_analysis_stats.malicious }}/70\n\n⚠️ User {{ $node[\"Webhook\"].json.body.reported_by }} has been automatically quarantined (sessions killed, account deactivated).",
        "replyMarkup": "inlineKeyboard",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1456,
        1632
      ],
      "id": "45448332-b540-47bb-9847-04014c9f5c84",
      "name": "Send a text message1",
      "webhookId": "22b6cc27-786d-44ff-8ad9-e62df8191d5b",
      "credentials": {
        "telegramApi": {
          "id": "eJc1mayLSdWhR7Q8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8119891894",
        "text": "=✅ SECURITY SCAN: CLEAN  Ticket #{{ $node[\"Webhook\"].json.body.ticket_id }}  No threats were detected by VirusTotal. The file appears safe.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1280,
        1792
      ],
      "id": "dfc7f44e-2f68-43d9-a932-eedb94eae2e0",
      "name": "Send a text message2",
      "webhookId": "f0584645-dfe6-46c2-8743-3707e6b22cde",
      "credentials": {
        "telegramApi": {
          "id": "eJc1mayLSdWhR7Q8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "594864e1-7794-498b-b16c-22d0b87202f7",
              "leftValue": "={{ $node[\"Webhook\"].json.body.file_url || $json.body.file_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        1696
      ],
      "id": "07aaede2-e21b-4973-bc04-07ce40245ccf",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "8119891894",
        "text": "=✅ Ticket #{{ $node[\"Webhook\"].json.body.ticket_id }}  No attachment detected. Skipping file security scan.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        1824
      ],
      "id": "e735566a-6088-4204-a384-1a87d8b47942",
      "name": "Send a text message3",
      "webhookId": "f0584645-dfe6-46c2-8743-3707e6b22cde",
      "credentials": {
        "telegramApi": {
          "id": "eJc1mayLSdWhR7Q8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/update-ticket-category/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { ticket_id: $node[\"Webhook\"].json.body.ticket_id, category: $node[\"Classify Ticket\"].json.predicted_category } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -256,
        1520
      ],
      "id": "ab94cc19-b1a4-42e8-aabd-89612bab3498",
      "name": "Update Ticket Category",
      "onError": "continueRegularOutput",
      "notes": "📝 Updates ticket category in database. ⚠️ Error: Update failed - check API endpoint and ticket_id"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/classify-ticket/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { title: $json.body.title, description: $json.body.description } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -480,
        1520
      ],
      "id": "c2c61093-269b-4266-a0a6-fbc27f6aef36",
      "name": "Classify Ticket",
      "onError": "continueRegularOutput",
      "notes": "🤖 AI Classification: Classifies ticket into Hardware/Software/Network/Account/Other. ⚠️ Error: Classification failed - check API endpoint"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Classify Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Ticket": {
      "main": [
        [
          {
            "node": "Update Ticket Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Ticket Category": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Answer Callback Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Callback Query": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Send Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Quarantine User Auto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quarantine User Auto": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Upload to VirusTotal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to VirusTotal": {
      "main": [
        [
          {
            "node": "Wait for Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Scan": {
      "main": [
        [
          {
            "node": "Query VirusTotal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query VirusTotal": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "8e975c37-257f-4455-8e70-319380bdc2ce",
  "meta": {
    "instanceId": "0d5c80395c175ca00fd50bec535bbb718a0d3f37988231f2fb393fbedcddc610"
  },
  "id": "fx6jWGFqRprow4aQD_WlD",
  "tags": []
}